{% extends 'base.html' %}
{% block title %}List{% endblock %}
{% block content %}
<a href="{% url 'create' %}" class="btn btn-info btn-sm" style="float:left">Add Bookmark</a>

<div style="clear:both;"></div>
    <table class="ui celled table" style="margin-top:10px;">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Site</th>
            <th scope="col">URL</th>
            <th scope="col">Modify</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
            {% for bkbk in object_list %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td><a href="{% url 'detail' pk=bkbk.id %}">{{bkbk.site_name}}</a></td>
                <td><a href="{{bkbk.site_url}}" target="_blank">{{bkbk.site_url}}</a></td>
                <td><a href="{% url 'update' pk=bkbk.id %}" class="btn btn-success btn-sm">Modify </a></td>
                <td><a href="{% url 'delete' pk=bkbk.id %}" class="btn btn-danger btn-sm">Delete </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}